.recommended-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   list-style: none;
  }
  
  .recommended-books h4 {
    font-size: 1.5rem; 
  }

  .recommended-books li {
    margin-bottom: 1rem; 
    /* border: 1px solid black; */
    padding: 1rem;
    border-radius: 1rem;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  
  .recommended-books li strong {
    font-weight: bold; 
  
  }

  